*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40vh);
  grid-gap: 7.5vh;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  background: linear-gradient(to right bottom, red, orange);

  & > * {
    box-shadow: 0 2rem 10rem black;
    align-self: stretch;
  }
}

svg {
  padding: 1vh;
}