:root {
  --textAnimationTiming: 2s;
}

.text {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: '100';
  font-family: 'Times New Roman';
  stroke-linecap: round;
  
  & text tspan {
    fill: rgba(0,0,0,0);
    animation: write var(--textAnimationTiming) ease-out infinite alternate;
  }
}
@keyframes write {
  0% {
    stroke: rgba(255,255,255,.5);
    stroke-width: 2.5px;
    stroke-dashoffset: 800px;
    stroke-dasharray: 1 200px;
    opacity: 0;
  }
  100% {
    stroke: rgba(255,255,255,1);
    stroke-width: .5px;
    stroke-dashoffset: 0px;
    stroke-dasharray: 1.5 0px;
    opacity: 1;
  }
}

@for $i from 1 through 4 {
  .text text tspan:nth-child(#{$i}) {
    animation-delay: calc(calc(var(--textAnimationTiming) / 2) * #{$i});
  }
}

