:root {
  --xAnimationTiming: .5s;
}
$xColors: white white #485460 #0fbcf9 #ffdd59 #0be881;

.x {
  cursor: pointer;

  & line {
    stroke-width: 1;
    transition: all var(--xAnimationTiming) ease-in-out;
  }
  
  &:hover {

    & line {
      stroke-width: 7.5;      
    }
  }
}


@for $i from 1 through 6 {
  .x line:nth-child(#{$i}) {
    stroke: #{nth($xColors, $i)};

    @if $i >= 3 and $i <= 6 {
      opacity: 0;
      transform: translateY(105%);
    }

    @if $i >=2 and $i <= 6 {
    transition-delay: calc(var(--xAnimationTiming) / #{$i});
    }
  }

  .x:hover line:nth-child(#{$i}) {
    @if $i == 1 {
      transform: translate(-105%, -105%);
    } @else if $i == 2 {
      transform: translate(-105%, 105%);
    } @else if $i >=3 and $i <= 6 {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

