*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(1fr repeat(2, 40vh));
  grid-gap: 7.5vh;
  justify-content: stretch;
  align-items: stretch;
  padding: 5vh;
  background: linear-gradient(to right bottom, red, orange); }
  body > * {
    box-shadow: 0 2rem 10rem black; }

svg {
  padding: 1vh; }

:root {
  --xAnimationTiming: .5s; }

.x {
  cursor: pointer; }
  .x line {
    stroke-width: 1;
    transition: all var(--xAnimationTiming) ease-in-out; }
  .x:hover line {
    stroke-width: 7.5; }

.x line:nth-child(1) {
  stroke: white; }

.x:hover line:nth-child(1) {
  transform: translate(-105%, -105%); }

.x line:nth-child(2) {
  stroke: white;
  transition-delay: calc(var(--xAnimationTiming) / 2); }

.x:hover line:nth-child(2) {
  transform: translate(-105%, 105%); }

.x line:nth-child(3) {
  stroke: #485460;
  opacity: 0;
  transform: translateY(105%);
  transition-delay: calc(var(--xAnimationTiming) / 3); }

.x:hover line:nth-child(3) {
  transform: translateY(0);
  opacity: 1; }

.x line:nth-child(4) {
  stroke: #0fbcf9;
  opacity: 0;
  transform: translateY(105%);
  transition-delay: calc(var(--xAnimationTiming) / 4); }

.x:hover line:nth-child(4) {
  transform: translateY(0);
  opacity: 1; }

.x line:nth-child(5) {
  stroke: #ffdd59;
  opacity: 0;
  transform: translateY(105%);
  transition-delay: calc(var(--xAnimationTiming) / 5); }

.x:hover line:nth-child(5) {
  transform: translateY(0);
  opacity: 1; }

.x line:nth-child(6) {
  stroke: #0be881;
  opacity: 0;
  transform: translateY(105%);
  transition-delay: calc(var(--xAnimationTiming) / 6); }

.x:hover line:nth-child(6) {
  transform: translateY(0);
  opacity: 1; }

:root {
  --textAnimationTiming: 2s; }

.text {
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: '100';
  font-family: 'Times New Roman';
  stroke-linecap: round; }
  .text text tspan {
    fill: rgba(0, 0, 0, 0);
    animation: write var(--textAnimationTiming) ease-out infinite alternate; }

@keyframes write {
  0% {
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 2.5px;
    stroke-dashoffset: 800px;
    stroke-dasharray: 1 200px;
    opacity: 0; }
  100% {
    stroke: white;
    stroke-width: .5px;
    stroke-dashoffset: 0px;
    stroke-dasharray: 1.5 0px;
    opacity: 1; } }

.text text tspan:nth-child(1) {
  animation-delay: calc(calc(var(--textAnimationTiming) / 2) * 1); }

.text text tspan:nth-child(2) {
  animation-delay: calc(calc(var(--textAnimationTiming) / 2) * 2); }

.text text tspan:nth-child(3) {
  animation-delay: calc(calc(var(--textAnimationTiming) / 2) * 3); }

.text text tspan:nth-child(4) {
  animation-delay: calc(calc(var(--textAnimationTiming) / 2) * 4); }

.quarters {
  fill: white; }
